$fa-font-path: '../webfonts'

@import '~bootstrap/scss/bootstrap'

@import '~@fortawesome/fontawesome-free/scss/fontawesome'
@import '~@fortawesome/fontawesome-free/scss/brands'
@import '~@fortawesome/fontawesome-free/scss/regular'
@import '~@fortawesome/fontawesome-free/scss/solid'

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;700;800&display=swap')

@import 'colors'

[v-cloak]
  display: none

body
  font-family: 'Raleway', sans-serif

.text-800
  font-weight: 800

.font-lato
  font-family: 'Lato', sans-serif

.bg-gray
  background-color: #F6F6F7

.category
  text-transform: uppercase
  font-size: .9rem

#main-carousel
  .carousel-item
    max-height: 85vh
    overflow: hidden
  .carousel-inner
    .carousel-item
      &:after
        content: '\A'
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: rgba(0, 0, 0, .6)
        background-size: cover
  .carousel-indicators
    li
      height: .4rem
      margin-right: .4rem
      &.active
        background-color: $orange
  .carousel-caption
    width: 50%
    left: 10%
    a
      color: #FFF
    h1
      font-size: 4rem
      text-align: left

.title
  color: $black
  font-weight: bold

.subtitle
  color: $black
  font-weight: bold
  padding-left: .5rem
  border-left: .4rem solid $orange
  &.bottom
    border-left: initial
    padding-left: initial
    border-bottom: .4rem solid $orange
    padding-bottom: .5rem


.bg-section-1
  background: url(../img/background.png)
  background-size: contain
  background-position: top
  background-repeat-y: no-repeat

.bg-section-2
  background: url(../img/curvas.png)
  background-size: contain

#our-sections
  column-count: 2
  .card
    &:first-child
      .card-img-top
        height: 40rem
    &:not(:first-child)
      .card-img-top
        height: auto

#rrss-icons
  li
    &:not(:first-child)
      border-left: 1px solid #E1E1E1
    i
      color: #A4A4A4
    .fa-stack
      font-size: 1.3rem

#newsletter-form
  .wpcf7-form-control
    &.wpcf7-submit
      background-color: #100901